@media (max-width: 1160px) {
    .mid2{
        background-image: url(../Assets/mid2mediaquery.png);
        justify-content: center;
    }
    .mid2Container {
        justify-content: center;
    }
}

@media (max-width: 832px) {
    
    .mid3 {
        height: 900px;
    }
}

@media (max-width: 768px) {

    .navleft {
        margin-left: 0;
    }

    .navright {
        margin-right: 0;
    }

    .mid5 {
            flex-direction: column;
            height: 800px;
            justify-content: center;
            align-items: center;
            }
    
    .contact {
        margin-left: 30px;
    }  
    
    .posts{
        margin-right: 45px;
    }
    
    .posts h2 {
        padding-left: 0px;
    }

    .form {
        text-align: left;
    }
}

@media (max-width: 650px) {
    
    header ul li {
        display: block;
    }

    #brandingFlexContainer {
        height: 650px;
    }
    
    .mid2{
        height: 1100px;
        justify-content: center;
    }
    
    .mid2Container {
        margin-right: 20px;
    }
}


@media (max-width: 620px) {
    
    .mid3 {
        height: 1100px;
    }
}

@media (max-width: 595px) {

    .articleInfo {
        flex-direction: column;
    }

    .categories {
        width: 100%;
    }

    .wrapper {
        height: 2750px;
    }

}

