html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

/*nav STYLE*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

/*navleft STYLE*/

.navleft {
    order: -1;
    margin-left: 50px;
}


/*navrightSTYLE*/

.navright {
    margin-right: 50px;
}

/*navicon STYLE*/

.navicon {
    width: 17px;
    margin-right: 5px;
 
}


/*H1 STYLE*/

H1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;
}

/*ul STYLE*/

ul {
    margin: 0;
    padding: 0;
}


/*ul/li STYLE*/


 header ul li {
    list-style-type: none;
    display: inline;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

/*a STYLE*/

a {
    text-decoration: none;
    color: #333;
}

.contactHeader {
    max-width: 1280px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;;
}

.contactHeader p {
    margin-top: 0;
    position: relative;
    top: -37%;
    left: 20%;
}

.keyboard {
 width: 1280px;
}

.wrapper {
    max-width: 1200px;
    width: 80%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 900px;
}

.wrapper p {
    color: #333;
    font-family: 'Open Sans', sans-serif; 
    font-size: 0.8rem;
    line-height: 18px;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.contactInfo div{
    padding-right: 75px;
    padding-left: 75px;
}

.contactInfo img {
    width: 35px;
}

.addressInfo {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

form input{
    border: 0px;
    border-bottom: 1px solid #333;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 0.8rem;
    line-height: 18px;
    height: 20px;
}

form {
    display: flex;
    justify-content: space-between;
}

textarea {
    border: 0px;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.send {
    border-bottom: 1px solid #333;
    display: inline;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.person {
    max-width: 1280px;
    margin-bottom: -5px;
}

.mid5 {
    max-width: 1280px;
    height: 500px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

footer {
    display: flex;
    flex-direction: row;
}

.contact{
    font-family: 'Open Sans', sans-serif;
}
.contact ul li {
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 24px;
}

.social{
    color: #FFFFFF;
    height: 15px;
    padding-right: 5px;
    margin-top: 15px;
    
}

.posts {
    font-family: 'Open Sans', sans-serif; 
}

.posts h2 {
    padding-right: 2px;
    padding-left: 25px;
}

.posts ul li {
    font-size: 0.8rem;
    line-height: 30px;
    margin-top: 0;
}


.form {
    margin-bottom: 35px;
}

.form h2{
    margin-bottom: 40px;
}

.form span {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 24px; 
}

form {
    margin-top: 25px;
}

label {
    display: none;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif; 
    color: #333;
    font-size: 0.8rem;
    padding-left: 10px;
}

.mid5 input[type=text] {
    height: 41px;
    width: 100%;
    display: inline;
}

input[type=submit] {
    background-color: #C3DAB7;
    border: none;
    height: 40px;
}

footer {
    max-width: 1280px;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 798px) {
    
    .wrapper {
        height: 1000px;
    }
    
    .contactInfo div{
        padding-right: 15px;
        padding-left: 15px;
    }

    .navleft {
        margin-left: 0;
    }

    .navright {
        margin-right: 0;
    }

    .mid5 {
            flex-direction: column;
            height: 800px;
            justify-content: center;
            align-items: center;
            }
    
    .contact {
        margin-left: 30px;
    }  
    
    .posts{
        margin-right: 45px;
    }
    
    .posts h2 {
        padding-left: 0px;
    }


}

@media (max-width: 650px) {
    
    header ul li {
        display: block;
    }
}